header {
  position: relative;
}

body {
  font-family: sans-serif;
  width: 600px;
  text-align: center;
}

a {
  color:purple;
  text-decoration: none;
}

a:hover {
  color: pink;
}

img {
  margin-left:50px;
}

ul {
  list-style-position: inside;
}
